* {
    font-family: monospace;
    font-size: 105%;
}

body {
    background-color: #1d006e;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 300%;
    font-weight: bolder;
    color: rgb(0, 204, 255);
    margin: 0;
    padding: 0;
    top: 0;
    bottom:0;
}

ul {
    list-style: none;
    background-color: #ffe1be;
}

li:hover {
    background-color: #CEEFFF;
    
}


p {
    font-size:175%;
    margin: 0px 400px;
    background-color: #ffe1be;
    padding: 2%;
}

h2 {
    text-align: center;
    font-size: 300%;
    margin-top: 100px;
    text-decoration: underline;
    color: #CEEFFF;
}

h1 {
    text-align: center;
    font-size: 400%;
    color: rgb(0, 0, 0);
    background-color: white;
    
}

.linksStyle.hidden {
    display: none;
}

.linksStyle {
    font-size: 200%;
    text-align: center;
    padding: 2%;
}

.linksStyle2.hidden {
    display: none;
}

.linksStyle2 {
    font-size: 200%;
    text-align: center;
    padding: 2%;
}

.headerImage {
    background-image: url('./12896.jpg');
    background-size: cover;
    background-position:bottom;
    padding: 125px ;
    display:block;
}

#toggleButton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
}

#toggleButton:hover {
    background-color: #CEEFFF;
}

#toggleButton2 {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
}

#toggleButton2:hover {
    background-color: #CEEFFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.containerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}